In [4]:
import pandas as pd
from collections import defaultdict
import pickle

In [5]:
# Wikipedia: all nominations for Best Actor, Actress, Supporting Actor, Supporting Actress
df_actors = pd.read_csv('data/actor_nom.csv')

# Wikipedia: all nominations for Best Director
df_directors = pd.read_csv('data/director_nom.csv')

# WikipediaL all nominations for Best original and adapted screenplay
df_writers = pd.read_csv('data/writers_nom.csv')

In [6]:
df_actors.head()

,Year,Actor,Film,Role(s)
0,1927/28\n(1st),Emil Jannings [A],The Last Command\nThe Way of All Flesh,Grand Duke Sergius Alexander\nAugust Schilling
1,NaN,Richard Barthelmess,The Noose\nThe Patent Leather Kid,Nickie Elkins\nPatent Leather Kid
2,1928/29\n(2nd),Warner Baxter,In Old Arizona,The Cisco Kid
3,NaN,George Bancroft,Thunderbolt,Thunderbolt Jim Lang
4,NaN,Chester Morris,Alibi,Chick Williams (No. 1065)

In [7]:
df_directors.head()

             Year                Director(s)                 Film
0  1927/28\n(1st)   Frank Borzage (Dramatic)           7th Heaven
1             NaN  Herbert Brenon (Dramatic)      Sorrell and Son
2             NaN      King Vidor (Dramatic)            The Crowd
3             NaN   Lewis Milestone (Comedy)  Two Arabian Knights
4             NaN         Ted Wilde (Comedy)               Speedy

In [8]:
df_writers.head()

,Year,Screenwriter(s),Film
0,1940\n(13th),Preston Sturges,The Great McGinty
1,NaN,Ben Hecht,Angels Over Broadway
2,NaN,Norman Burnside\nHeinz Herald\nJohn Huston,Dr. Ehrlich's Magic Bullet
3,NaN,Charles Bennett\nJoan Harrison,Foreign Correspondent
4,NaN,Charlie Chaplin,The Great Dictator

In [9]:
# clean actor data
actors = df_actors.Actor
actors = actors.str.replace('\[.*$', '')
actors = actors.str.replace('*', '')
actors = actors.str.replace('ยง', '')
actors = actors.str.replace('^', '')
actors = actors.str.strip()

In [10]:
actors.head(20)

0           Emil Jannings
1     Richard Barthelmess
2           Warner Baxter
3         George Bancroft
4          Chester Morris
5               Paul Muni
6             Lewis Stone
7           George Arliss
8           George Arliss
9           Wallace Beery
10      Maurice Chevalier
11          Ronald Colman
12       Lawrence Tibbett
13       Lionel Barrymore
14          Jackie Cooper
15            Richard Dix
16          Fredric March
17         Adolphe Menjou
18          Wallace Beery
19          Fredric March
Name: Actor, dtype: object

In [11]:
# pickle to use later
with open('data/actor_nom.pk1', 'wb') as picklefile:
    pickle.dump(actors, picklefile)

In [12]:
# clean director data
directors = df_directors['Director(s)']
directors = directors.str.replace('\(.*$', '')
directors = directors.str.strip()

In [13]:
directors.head(20)

0         Frank Borzage
1        Herbert Brenon
2            King Vidor
3       Lewis Milestone
4             Ted Wilde
5           Frank Lloyd
6      Lionel Barrymore
7        Harry Beaumont
8       Irving Cummings
9           Frank Lloyd
10                  NaN
11       Ernst Lubitsch
12      Lewis Milestone
13       Clarence Brown
14                  NaN
15    Robert Z. Leonard
16       Ernst Lubitsch
17           King Vidor
18        Norman Taurog
19       Clarence Brown
Name: Director(s), dtype: object

In [14]:
# pickel for later
with open('data/director_nom.pk1', 'wb') as picklefile:
    pickle.dump(directors, picklefile)

In [17]:
# clean writer data
writers = df_writers['Screenwriter(s)']
writers = writers.str.replace('\\n', ',')
writers = writers.str.split(',', expand=True).stack().reset_index()
writers.columns = ['index', 'level', 'writer']
writers_new = writers.writer
writers_new = writers_new.str.replace('\(.*$', '')
writers_new = writers_new.str.strip()
writers_new.head(20)

0          Preston Sturges
1                Ben Hecht
2          Norman Burnside
3             Heinz Herald
4              John Huston
5          Charles Bennett
6            Joan Harrison
7          Charlie Chaplin
8     Herman J. Mankiewicz
9             Orson Welles
10           Norman Krasna
11          Harry Chandlee
12             Abem Finkel
13             John Huston
14          Howard E. Koch
15            Karl Tunberg
16            Darrell Ware
17            Paul Jarrico
18           Michael Kanin
19        Ring Lardner Jr.
Name: writer, dtype: object

In [18]:
# pickle for later
with open('data/writer_nom.pk1', 'wb') as picklefile:
    pickle.dump(writers_new, picklefile)